server.json
[{"id":"7f96dd4b.1a45b4","type":"tab","label":"HTTP","disabled":false,"info":""},{"id":"1ec236c6.025619","type":"tab","label":"WebSocket","disabled":false,"info":""},{"id":"f6874e91.a05cc","type":"websocket-listener","path":"/ws","wholemsg":"true"},{"id":"89d1067a.053678","type":"websocket in","z":"1ec236c6.025619","name":"","server":"f6874e91.a05cc","client":"","x":100,"y":120,"wires":[["de4b5821.c502d8"]]},{"id":"4f276b10.5d4834","type":"debug","z":"1ec236c6.025619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":180,"wires":[]},{"id":"84c90d20.c5d5d","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["3282386f.ad20c8"]]},{"id":"469b8d53.0a2a64","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"content-type":"text/html"},"x":910,"y":200,"wires":[]},{"id":"2debefe0.44313","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":100,"y":660,"wires":[["9e192e85.f6b34"]]},{"id":"f138c934.a00348","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 301)","statusCode":"301","headers":{"location":"/chat"},"x":510,"y":660,"wires":[]},{"id":"9e192e85.f6b34","type":"function","z":"7f96dd4b.1a45b4","name":"save message","func":"var messages = global.get('messages') || [];\nmessages.push(msg.payload)\nglobal.set('messages', messages);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":660,"wires":[["f138c934.a00348"]]},{"id":"5185cc7d.f6b324","type":"change","z":"7f96dd4b.1a45b4","name":"set saved messages","rules":[{"t":"set","p":"template","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"messages","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[["ed4f7ab0.707a38"]]},{"id":"ed4f7ab0.707a38","type":"template","z":"7f96dd4b.1a45b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":700,"y":200,"wires":[["469b8d53.0a2a64"]]},{"id":"91997cd6.a69b5","type":"comment","z":"7f96dd4b.1a45b4","name":"serve html Page","info":"","x":120,"y":160,"wires":[]},{"id":"e4cfd2c5.5448d","type":"comment","z":"7f96dd4b.1a45b4","name":"handle chat inputs","info":"","x":130,"y":620,"wires":[]},{"id":"b90d46a.a2d8db8","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/style.css","format":"utf8","chunk":false,"sendError":false,"x":310,"y":240,"wires":[["65c6aa5f.30d284"]]},{"id":"f9e0d6fa.70c968","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/style.css","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["b90d46a.a2d8db8"]]},{"id":"65c6aa5f.30d284","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"content-type":"text/css"},"x":550,"y":240,"wires":[]},{"id":"4cc35dd5.cfc2c4","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/bundle.js","format":"utf8","chunk":false,"sendError":false,"x":290,"y":280,"wires":[["8b9cb85c.1bc308"]]},{"id":"ea8c1975.6d74e8","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/bundle.js","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["4cc35dd5.cfc2c4"]]},{"id":"8b9cb85c.1bc308","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"Content-type":"application/javascript"},"x":510,"y":280,"wires":[]},{"id":"b30a25.9af7f5d8","type":"websocket out","z":"1ec236c6.025619","name":"","server":"f6874e91.a05cc","client":"","x":440,"y":120,"wires":[]},{"id":"7af65e67.ec4f8","type":"comment","z":"1ec236c6.025619","name":"send event to other clients via websocket","info":"","x":200,"y":80,"wires":[]},{"id":"3282386f.ad20c8","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/index.html","format":"utf8","chunk":false,"sendError":false,"x":280,"y":200,"wires":[["5185cc7d.f6b324"]]},{"id":"de4b5821.c502d8","type":"function","z":"1ec236c6.025619","name":"save messages","func":"delete msg._session;\n\nif (msg.event !== 'message') return msg;\n\nvar messages = global.get('messages') || [];\nmessages.push(msg)\nglobal.set('messages', messages);\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["b30a25.9af7f5d8","4f276b10.5d4834"]]},{"id":"63a4b975.3d7168","type":"change","z":"7f96dd4b.1a45b4","name":"set saved messages","rules":[{"t":"set","p":"payload","pt":"msg","to":"messages","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":740,"wires":[["3f2df9d8.2d0596"]]},{"id":"6a51b52d.42815c","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/savedMessages","method":"get","upload":false,"swaggerDoc":"","x":140,"y":740,"wires":[["63a4b975.3d7168"]]},{"id":"4973b281.c400bc","type":"comment","z":"7f96dd4b.1a45b4","name":"get saved messages","info":"","x":130,"y":700,"wires":[]},{"id":"3f2df9d8.2d0596","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"content-type":"application/json"},"x":630,"y":740,"wires":[]},{"id":"4f34ad5b.bede64","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"dictionaries/de/de.aff","method":"get","upload":false,"swaggerDoc":"","x":150,"y":440,"wires":[["e3a45a8d.8e887"]]},{"id":"fce36b8b.641c58","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"dictionaries/de/de.dic","method":"get","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["21014e38.dfc7ca"]]},{"id":"e3a45a8d.8e887","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/assets/dictionaries/de/de.aff","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":440,"wires":[["6267137b.cd45cc"]]},{"id":"21014e38.dfc7ca","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/assets/dictionaries/de/de.dic","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":480,"wires":[["e9b8870d.cecbb8"]]},{"id":"e9b8870d.cecbb8","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"Content-type":"text/plain"},"x":710,"y":480,"wires":[]},{"id":"6267137b.cd45cc","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"Content-type":"text/plain"},"x":710,"y":440,"wires":[]},{"id":"3f732ad5.6b0186","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/assets/train_data.txt","format":"utf8","chunk":false,"sendError":false,"x":370,"y":520,"wires":[["4b5e277d.dc455"]]},{"id":"4b5e277d.dc455","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"Content-type":"application/javascript"},"x":630,"y":520,"wires":[]},{"id":"99f2e232.b67428","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/train_data.txt","method":"get","upload":false,"swaggerDoc":"","x":130,"y":520,"wires":[["3f732ad5.6b0186"]]},{"id":"8f3ffd9.a81c68","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/assets/train_data.yaml","format":"utf8","chunk":false,"sendError":false,"x":400,"y":560,"wires":[["729c9457.6a45cc"]]},{"id":"729c9457.6a45cc","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"Content-type":"application/javascript"},"x":670,"y":560,"wires":[]},{"id":"7a74b991.c6e44","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/train_data.yaml","method":"get","upload":false,"swaggerDoc":"","x":140,"y":560,"wires":[["8f3ffd9.a81c68"]]},{"id":"62aeaccd.cb3bbc","type":"comment","z":"7f96dd4b.1a45b4","name":"serve assets","info":"","x":110,"y":400,"wires":[]},{"id":"2631d8b4.9b5928","type":"file in","z":"7f96dd4b.1a45b4","name":"","filename":"dist/wasm/index_bg.wasm","format":"","chunk":false,"sendError":false,"encoding":"binary","x":390,"y":320,"wires":[["21f9558b.77d9fa"]]},{"id":"b6328dbc.03aa8","type":"http in","z":"7f96dd4b.1a45b4","name":"","url":"/index_bg.wasm","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["2631d8b4.9b5928"]]},{"id":"21f9558b.77d9fa","type":"http response","z":"7f96dd4b.1a45b4","name":"send response (http 200)","statusCode":"200","headers":{"content-type":"application/wasm"},"x":650,"y":320,"wires":[]},{"id":"5ba330e8.b6dbe","type":"inject","z":"7f96dd4b.1a45b4","name":"onStartUp","topic":"","payload":"This value does nothing","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["297023b4.1215ec"]]},{"id":"297023b4.1215ec","type":"function","z":"7f96dd4b.1a45b4","name":"Declare Messages","func":"global.set('messages', [])\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[[]]}]